*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}


/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src:
    url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src:
    url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src:
    url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



img{
    vertical-align: middle; 
}

.container{
    width: 1183px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    
}

/* Header styles */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
}

.logo-img{
    margin-right: 155px;
    
}

.header-nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    list-style: none;
}

.h-nav-link{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
    text-decoration: none;
    
}

.h-nav-link:hover{
    width: 23px;
    padding-bottom: 13px;
    border-bottom: 2px solid #717CFF; 
    border-radius: 4px;
    transition: width 0.5s ease,  0.5s ease;
} 

.header-btn{
    padding: 6px 25.5px 5px 26.5px;;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #505050;
    border: 2px solid #717CFF;
    border-radius: 11px;
    text-decoration: none;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.header-btn:hover{
    background-color: #717CFF;
    color: #fff;
}

/* Header styles finish */

/* Main section first styles start */

/* SECTION FIRST */



.first-box{
    width: 546px;
    /* height: 905px; */
    padding-top: 90px;
    padding-bottom: 200px;
}

.slogan-text{
    /* width: 500px;     */
}

h1{
    margin-bottom: 15px; 
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
}

.slogan-tex{
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
}

h2{
    
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;  
}

.build{
    color: #717CFF;
}

.slogan-more{
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
}

.sl-more{
    margin-bottom: 42px;
}

.btn{  
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 252px;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    background-color: #717CFF;
    color: #FFFFFF;
    border-radius: 11px;
    text-decoration: none;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.btn:hover{
    border: 1px solid   #717CFF;
    background-color: #fff;
    color: #717CFF;
}

.btn-top{
    margin-bottom: 50px;
    padding: 8px 43px 9px 27px; 
}

.girl{  
    width: 100%;
    background-image: url("../images/Group17.png");
    background-repeat: no-repeat;
    /* width: 1049px; */
    height: 601px;
    background-position: calc(50% + 675px) calc(50% + 100px);
    
}

.contacts-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 119px;
    list-style: none;
}

/* FIRST SECTION FINISH */

/* SECOND SECTION START */


.section-second{
    background-color: #FAFAFA;
}

.second{
    padding-top: 55px;
    padding-bottom: 57px;
}

.slogan-second{
    margin-bottom: 94px;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;   
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;  
    color: #373737;
    opacity: 0.73;
}



.univer-ilst{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.circ{
    /* margin-bottom: -35px;     */
    display: inline-block;
    display: flex;
    justify-content:center;
    align-items: center;
}

.scro-first{
    background-color: #717CFF;
}

.scrol{
    margin-left: 21px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #7c7c7c51; 
    transition: width 0.5s ease, background-color 0.5s ease;
}


.scrol:hover{
    border: 1px solid white; 
    background-color: #717CFF;
}

/* SECOND SECTION FINISH */

/* THIRD SECTION START */

.slogan-third{
    margin-top: 0;
    padding-top: 122px;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}

.sl-center{
    margin-bottom: 100px;
    text-align: center;
    
}



.services-list{
    margin: 0;
    padding: 0;
    padding-bottom: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.services-item{
    margin: 0;
    padding: 0;
    margin-right: 38px; 
    padding: 29px 17px 34px 31px;
    width: 342px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}


.item-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;   
    color: #37474F;
}

.item-more{
    padding-left: 5px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}

.learn-more{
    display: flex;
    align-items: center;
    padding-top: 37px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
    text-decoration: none;
}

.next::after{
    margin-left: 25px;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../images/next.svg");
    background-repeat: no-repeat;
}


.nextt::after{
    margin-right: 25px;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../images/next.svg");
    background-position: center;
    background-repeat: no-repeat;
}


/* THIRD SECTION FINISH */

/* FOURTH SECTION START */

.section-fourth{
    padding-bottom: 124px;
    background-color: #FAFAFA;
}

.slogan-fourth{
    margin: 0;
    padding-top: 102px;
}

.sl-center-one{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 119px;
    text-align: center;
}

.news-list{
    margin-bottom: 146px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.news-item{
    width: 344px;
    height: 406px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
}

.news-img{
    padding-bottom: 28px;
}

.news-item-date{
    padding-left: 26px;
    padding-bottom: 17px;
    display: flex;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #565656;
}



.calendar::before{
    margin-right: 15px;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../images/date.svg");
    background-repeat: no-repeat;
}


.news-link{
    text-decoration: none;
}


.news-title{
    padding-right: 26px;
    padding-bottom: 62px;
    padding-left: 27px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;  
    color: #252525;
}

.btn-center{
    margin-left: auto;
    margin-right: auto;
    padding: 8px 43px 9px 27px; 
}

/* FOURTH SECTION FINISH */

/* FIFTH SECTION START */
.fifth{
    padding-bottom: 76px;
}

.slogan-fifth{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 98px;
}

.sl{
    margin-bottom: 100px;
}

.event-list{
    margin-bottom: 146px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.event-item{
    padding-right: 27px;
    padding-left: 31px;
    width: 540px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
}

.event-tem-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.event-box{
    
    width: 76px;
    height: 76px;
    border-radius: 11%;
    background-color: #717cff24;
    
}

.event-date{
    margin: 0;
    padding-right: 12px;
    padding-bottom: 13px;
    padding-left: 8px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #717CFF;
}

.event-title{
    
    padding-left: 19px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}

.event-more{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}

.a{
    display: flex;
}

.learn-moree{
    padding-bottom: 37px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
    text-decoration: none;
}



.clock::before{
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../images/time.svg");
    background-position: center;
    background-repeat: no-repeat;
}


.time-logo{
    margin-left: 148px;
}

.times{
    display: flex;
    align-items: center;
    margin-top: -35px;
    margin-left: 141px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #565656;
}

/* FIFTH SECTION FINISH */

/* SIXTH SECTION START */

.sixth{
    padding-bottom: 136px;
    background-color: #FAFAFA;
}

.countries-list{
    
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.countries-item{
    margin-bottom: 93px;
}
.countries-title{
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;    
    color: #37474F;
}

.countries-more{
    font-weight: 500;
    width: 348px;
    font-size: 16px;
    line-height: 27px;
    color: rgba(55, 71, 79, 0.721569);
}

/* SIXTH SECTION FINISH */

/* SEVENTH SECTION START */

.seventh{
    padding-bottom: 96px;
}

.testimonial-list{
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.testimonial-item{
    margin-right: 61px;
    margin-bottom: 83px;
    padding: 39px 34px 46px 34px;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    background: #FFFFFF;
    border-radius: 29px;
}

.testimonial-box{
    display: flex;
    align-items: center;
}

.person{
    margin-left: 38px;
}

.student-name{
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
}

.student-job{
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #37474F;
    opacity: 0.65;
}

.student-more{
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
}

/* SEVENTH SECTION FINISH */

/* EIGHT SECTION START */

.eight{
    padding-top: 98px;
    padding-bottom: 96px;
    background: #FAFAFA;
}

.box-mini{
    display: flex;
    align-items: center;
}

.slogan-end{
    margin-right: auto;
    padding-top: 98px;
    width: 555px;  
}

.btn-bottom{
    margin-top: 105px;
    padding: 8px 43px 9px 27px; 
}

/* EIGHT SECTION FINISH */

/* FOOTER START */

.footer{
    background: #717CFF;
}

.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-start{
    padding-top: 64px;
}

.footer-txt-start{   
    width: 343px;    
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}

.footer-top{
    padding-bottom: 58px;
}

.footer-nav-list{
    margin-top: 51px;
    list-style: none;
}
.nav-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: #EEEEEE;
    text-decoration: none;
    text-decoration: none;
}


.company-messengers{
    margin: 0;
    padding: 0;
    margin-top: 197px;
    margin-left: 152px;
    display: flex;
    
}

.messenger-item{
    padding-right: 28px;
    list-style: none;
}

/* FOOTER FINISH */